@charset "UTF-8";

/* setup document ********************************************************/

/* global box-sizing */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
a:link {
	color:steelblue;
	text-decoration:none;
}
a:visited {
	color:steelblue;
}
a:hover {
	color:lightskyblue;
}
a:active {
	text-decoration:none;
}
input {
	width:100%;
	padding: .5em;
	border: 1px solid white;
	border-radius: .25em;
	box-shadow: inset 0 1px 3px lightgray;
}
input:hover {
	border: 1px solid lightskyblue;
}
input:focus {
	border: 1px solid lightskyblue;
	outline:0;
}
textarea {
	width:100%;
	padding: .5em;
	border: 1px solid white;
	border-radius: .25em;
	box-shadow: inset 0 1px 3px lightgray;
}
textarea:hover {
	border: 1px solid lightskyblue;
}
textarea:focus {
	border: 1px solid lightskyblue;
	outline:0;
}
button {
	text-align: center;
	border-radius: .25em;
	padding: .5em;
	color: white;
	background: #4682B4;
	border: 0;
	margin: .5em 0;
}
button:hover {
	background: #588EBC;
}
button:active {
	outline:0;
	background: #3F75A2;
}
select {
	width:100%;
	padding: .5em;
	border: 1px solid white;
	border-radius: .25em;
	box-shadow: inset 0 1px 3px lightgray;
}
select:hover {
	border: 1px solid lightblue;
}
select:focus {
	outline:0;
	border: 1px solid lightblue;
}
img {
	margin: 1em;
}
hr {
	border: 0;
	border-top: 1px solid whitesmoke;
}
.leftButton{
	float:left;
}
.rightButton{
	float:right;
}

/* header & footer *******************************************************/

#header{
	color:white;
	background-size:cover;
	background: url('../images/noteStrip3.jpg') left;
	overflow:hidden;
}
#logo {
	float: left;
	margin: 1em 0;
}
#logo img {
	margin:0;
}
#navigation ul {
	margin: 1em;
	list-style:none;
	float:right;
}
#navigation li {
	display:inline-block;
	float: left;
}
#navigation a {
	padding: 1em;
	display:block;
	text-decoration:none;
	color:white;
	font-size:large;
	border-radius: .25em;
}
#navigation a:hover {
	background-color:rgba(0,0,0, .2);
}
#navigation a.active {
	background-color:rgba(0,0,0, .2);
}
.navIcon {
	height: 15px;
	margin: 0;
}
#footer {
	font-size:smaller;
	text-align:center;
	color:darkgray;
	background-size:cover;
	background: url('../images/noteStrip3.jpg') top;
}
#sponsors {
	overflow:hidden;
}
#sponsors img {
	float: left;
}

/* pages *************************************************************/
#historyTable {
	width: 100%;
}
#historyTable td, th{
	padding: .5em;
	vertical-align: top;
}
#artistCategories {
	float:right;
	padding: 1em 0;
}
#artistCategories select {
	width: auto;
}

/* layout *************************************************************/

.block img {
	margin: 1em 0 0;
	border-radius: .5em;
    height: 140px;
	max-width:100%;
}
.blockFeature img {
	max-width: 33%;
	max-height: 250px;
	float: left;
	border-radius: .5em;
	margin: 1em 1em 1em 0;
}
.blockFull img {
	max-width: 100%;
	max-height: 300px;
	border-radius: .5em;
	margin: 1em 0;
}
.blockMy table {
	width: 100%;
}
.blockMy td {
	padding: 10px;
}
.blockMy img {
	max-height: 30px;
	border-radius: 5px;
}
#display_photo {
	border-radius: .5em;
	margin: 1em 0;
}
/* font adjustment classes ************************************************/

.font-right{
	text-align:right;
}
.font-left{
	text-align:left;
}
.font-center{
	text-align:center;
}
.font-justify{
	text-align:justify;
}
.font-lead {
	font-size: x-large;
	font-weight:bold;
}
.error {
	color: darkred;
	background: lightcoral;
	padding: .5em;
	border-radius: .5em;
}
.success {
	color: darkgreen;
	background: lightgreen;
	padding: .5em;
	border-radius: .5em;
}

/* columns ****************************************************************/

.row {
	max-width: 1280px;
	margin: 0 auto;
}
.col {
	padding: 0 20px;
}
.row .row {
	margin: 0 -20px;
}

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}


@media only screen {
	.col {
		float: left;
		width: 100%;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@media only screen and (min-width:768px) {
	.wide {
		width: 75%;
	}
	.narrow {
		width: 25%;
	}
	.third {
		width: 33%;
	}
	.twothird {
		width: 66%;
	}
	.half {
		width: 50%;
	}
	.tiny {
		width:20%;
	}
}